img {
    display: block;
     height: 250px;;
      width: 250px;
    border-radius: 50%;
   float:left;
}
h1 {
  font-size: xx-large;
text-align: center;
color: #98ff98;
}
p{
  font-style: italic;
  font-family: 'Zen Dots', cursive;
  font-weight: bold;
  color: #34ddc7;
}
#info{
  font-style: italic;
  font-family: 'Zen Dots', cursive;
 
  color:cyan;
  ;
}
#list{
  display:inline-block;
  margin-top: 100%;
  margin-bottom:2% ;  
  margin-left:20%; 
   

}
ol li {

  color:#98ff98;
  font-size: 20px;
  
}
span{
  color: cyan;
  font-size: 25px;
  font-family: 'Zen Dots', cursive;
}
html{
  background-image: url('./../img/luffy.jpg');
 background-size:cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
#infoAndImg{
  position: fixed;
}
